/*todos los elementos*/
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-color: #AAB7B8;
    margin: 0px;
}

header {
    text-align: center;
    background-color: #4D5656;
    opacity: 0.8;
    padding: 10px;
    border-radius: 15px;
    margin: 15px 5px 20px 5px;
}

.logo {
    width: 1.6em;
}

.container {
    max-width: 100px;
    margin: 0 auto;
}

main {
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr;
    min-width: 24em;
    margin-bottom: 15px;
}

section {
    margin: 10px;
}

.text-area,
.text-area-two {
    height: 14em;
    width: 10em;
    opacity: 0.8;
    border: none;
    color: white;
    text-transform: lowercase;
    background: #7F8C8D;
    border-radius: 24px;
    padding: 20px;
    margin: 0 auto;
    display: block;
    resize: none;
    text-align: center;
}

::placeholder {
    color: white;
}

.text-area :focus,
.text-area-two :focus {
    outline: none;
}

.text-area-two {
    margin: 0 auto;
    display: block;
    max-block-size: 500px 500px;
    background-image: url("imagenes/Character.png");
    background-repeat: no-repeat;
    background-position: center;
}

.botones {
    display: flex;
    margin-top: 18px;
}



.btn-desencriptar {
    border: 1px solid #0A3871;
    border-radius: 20px;
    background: #D8DFE8;
    color: #0A3871;
}

.btn-encriptar {
    border: 1px solid #ffffff;
    border-radius: 20px;
    background-color: #0A3871;
    color: white;
    margin-right: 10px;

}

.btn-desencriptar,
.btn-desencriptar {
    cursor: pointer;
    height: 50px;
    width: 100%;
    transition: 1s;
}

.btn-encriptar:hover,
.btn-desencriptar:hover {
    transform: scale(1.1);
}

.botones2 {
    margin-top: 18px;
}

.copiar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 20px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 100%;
    transition: 1s;
    display: block;
    margin: 10px auto;
}

footer {
    background-color: #5F6A6A;
    color: white;
    padding: 20px 0;
    border-radius: 15px;
    margin: 20px 5px 15px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}

.social-links img {
    width: 30px;
}

.social-links img:hover {
    opacity: 0.8;
}

.social-links a:last-child {
    margin-right: 0;
}

p {
    font-size: 14px;
    margin: 0;
}

.copiar:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    * {
        font-size: 30px;
        text-align: center;
    }

    section {
        margin: 0;
    }

    .logo {
        width: 10%;
    }

    footer {
        position: relative;
        ;

    }

    .footer-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        min-width: auto;
    }

    .botones {
        display: grid;
        margin-top: 18px;
    }

    .text-area,
    .text-area-two{
        height: 10em;
        width: 7em;
    }

    .copiar {
        margin-left: 0;
        margin-top: 10px;
        margin: 10px auto;
    }

    .btn-desencriptar,
    .btn-encriptar {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}